<section>
  <style>
    h2,
    p.container {
      color: rgb(10, 10, 10);
      font-style: italic;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  </style>
  <app-header></app-header>

  <br>
  <br>
  <!-- body div container 1 -->
  <div class="container" style="object-fit: cover;">
    <h2 class="text-centre">Welcome to CTS bank</h2>

    <p class="container" style="font-size: larger;">Get your CTS bank account in a few minutes, right from home...!</p>
  </div>

  <br>

  <div class="container text-white" style="object-fit: cover;">
    <div class="jumbotron bg-cover"
      style="background-image: url('../../assets/images/welcome.jfif');background-repeat: no-repeat;background-size: 1120px 400px;width:1120px; height: 400px;">

    </div>
  </div>

  <br>
  <br>


  <!-- Body div container 2 -->
  <div class="container card-group ">
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Branches</h5>
        <p class="card-text"><i>
            Annanagar, Ambattur, Chrompet, <br>
            Redhills, T-nagar, Velachery, <br>
            and OMR.<br> </i></p>


      </div>
    </div>
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Contact Us</h5>
        <p class="card-text">
          <i>Phone : 004-42843454<br>
            Mail : ctsbanking@gmail.com</i>
      </div>
    </div>
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Our Offerings</h5>
        <p class="card-text"><i>Personal Loan, Car Loan,Home Loan, Savings Account,Credit Card,
            FD,Education Loan, Current Account, Fastag, Health Insurance,
            Internet Banking, PPF Account</i></p>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>