<section>

  <app-header></app-header>

  <br>
  <br>
  <!-- body div container 1 -->
  <div class="container" style="object-fit: cover;">
    <h2 class="text-centre">Welcome to CTS bank</h2>

    <p class="container" style="font-size: larger;">Banking at your fingertip ...!</p>
  </div>

  <br>

  <div class="container text-white" style="object-fit: cover;">
    <div class="jumbotron bg-cover"
      style="background-image: url('../../assets/images/welcome.jfif');background-repeat: no-repeat;background-size: 1120px 400px;width:1120px; height: 400px;">

    </div>
  </div>

  <br>
  <br>


  <!-- Body div container 2 -->
  <div class="container card-group ">
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Locate Us</h5>
        <p class="card-text">You are never too far away from quick,
          efficient banking services. Locate your nearest branch or an ATM.</p>

      </div>
    </div>
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Call Us</h5>
        <p class="card-text">In case you wish to speak to our phone
          banking officer for urgent resolution.</p>
      </div>
    </div>
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Write to Us</h5>
        <p class="card-text">Be it an enquiry, feedback or a simple
          suggestion, write to us & we'll get back to you.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
