<div class="sticky-top bg-info  d-flex align-content-center">
  <a href="/" class="active nav-link text-white">
    <h1><img alt="" style="height: 1cm;width: 1cm;" src="/src/assets/images/new.jpg"><i>CTS Bank</i></h1>
  </a>
  <ul class="align-content-center container nav nav-pills justify-content-end">
    <li style="color: aliceblue;font: 300;"><a routerLink="/createCustomer" style="color: aliceblue;font-family: sans-serif;font-weight: bold;">customer<br>creation</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li style="color: aliceblue;font: 300;"><a routerLink="/giveaccount" style="color: aliceblue;font-family: sans-serif;font-weight: bold;">account
      <br>creation</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li style="color: aliceblue;font: 300;"><a routerLink="/givedetails" style="color: aliceblue;font-family: sans-serif;font-weight: bold;">view details</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li style="color: aliceblue;font: 300;"><a routerLink="/transaction" style="color: aliceblue;font-family: sans-serif;font-weight: bold;">deposit</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item"><a class="nav-link active" routerLink="/employeedashboard" class="btn btn-outline-light"
        style="margin-right: 15px;" *ngIf="!val">Home
      </a>
    </li>
    <li class="nav-item"><a class="nav-link active" class="btn btn-outline-light" routerLink="/" *ngIf="val">Logout
      </a>
    </li>
  </ul>
</div>
