<div class="sticky-top bg-info  d-flex align-content-center">
  <a class="logo navbar-brand" href="/">
    <img src="favicon.ico" alt="..." height="50">
  </a>
  <a href="/" class="active nav-link text-white">
    <h2><i>CTS Bank</i></h2>
  </a>
  <ul class="align-content-center container nav nav-pills justify-content-end">
    <li style="color: aliceblue;font: 300;">
      <a class="btn btn-outline-light" routerLink="/createCustomer">Customer creation</a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li style="color: aliceblue;font: 300;">
      <a class="btn btn-outline-light" routerLink="/giveaccount">Account creation</a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li style="color: aliceblue;font: 300;">
      <a class="btn btn-outline-light" routerLink="/givedetails">View details</a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
      <a class="btn btn-outline-light" routerLink="/transaction">Deposit</a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item"><a class="nav-link active" routerLink="/employeedashboard"
        class="btn btn-outline-light bg-danger" style="margin-right: 15px;" *ngIf="!val">Home
      </a>
    </li>
    <li class="nav-item"><a class="nav-link active" class="btn btn-outline-light bg-danger" routerLink="/"
        *ngIf="val">Logout
      </a>
    </li>
  </ul>
</div>